{{ define "main" }}
<body id='book'>
  {{- partial "header.html" . -}}
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <section>
      {{ .Content }}
    </section>
    {{ range $key, $value := $.Site.Taxonomies.series }}
    <article>
      <h2>{{ humanize $key |title }} Series</h2>
      {{ range $value.Pages }}
      <section>
        <h3>{{ .Title }}</h3>
        <p>{{.Description}}</p>
      </section>
      {{ end }}
    </article>
    {{ end }}
{{- partial "footer.html" . -}}
</body>
{{ end }}
